.container{
    display: flex;
    max-width: 1000px;
    margin-top: 40px;
    align-items: end;
    margin: 0 auto;
}

.topbttn {
    display: flex;
    gap: 32px;

}

.contactform{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contactform form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

.formcontrol{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.formcontrol input{
    height: 40px;
    padding: 0 8px;    
}

.formcontrol textarea{
    padding: 8px
}

.formcontrol label{
    font-size: 14px;
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
}

.submit {
    display: flex;
    justify-content: end;
}